/*
  Theme Name: CCMSS
  Template: Foundation
  */
     body {
         font-family:Verdana, Arial, Helvetica, sans-serif;
	 background-color: #54641c;
     }
     .row {
         background-color:#ECF5DF;
	 max-width:80%;
     }


     .shadow {box-shadow: 3px 3px 4px #333;}
     ul li:first-child {
       /*width:1.5%;*/
     }
     li {
       display:inline-block;
       width:7.1%;
       float:left;
       font-size:10px;
       height:40px;
       overflow:hidden;
     }
     ul {
       margin:10px 0;
       padding:10px 0;
       clear:both;
       width:100%;
       min-height:30px;
     }
     .publicacion,
         .publicacion a {
         color:black;
     }
     
     .titulos {
       background-color:#333;
       color:#fff;
       font-weight:bold;
     }
     .titulos li {
	 border-right:1px solid white;
     }
     .non, .non li {
       background-color:#a0a3fa;
     }
     .par, .par li {
       background-color:#aaa;
     }

     #resultados {
       height:400px;
       
       overflow-y:scroll;
       overflow-x:visible;
     }
     #resultados li {
	 font-size:7px;
     }

     #sql_texto {
       margin:30px 0;
       padding:20px;

       border: 3px solid #a0a3fa;
     }
     #paginacion {
       width:100%;
       height:50px;
       overflow:hidden;
     }
     #paginacion li { width:15px; margin:5px; padding:2px; font-size: 12px; overflow:visible; text-align: center; }
     #paginacion li a { text-decoration:none ; color:#666;}
     #paginacion li.actual a { color:#000; font-weight: bold;}

     #paginacion .primera { margin-right:15px;}
     #paginacion .ultima { margin-15px;}
     


     .center {
	 text-align: center;
     }
     #intro {
         background-color:#fff;
         padding:50px 0;
         margin-top:100px;
     }

     #titulo,
     #thumb_tabla {
	 width:100%;
	 
     }
     
     #titulo h3 ,
     #tabla_datos h3 {
         color: #54641c;
         text-shadow: 2px 2px 3px #93aa55;
     }


     #thumb_tabla {
	 margin-top:50px;

	 
     }

     #thumb_tabla img {
         box-shadow: 3px 3px 4px #333;
     }

     .row div {
	 box-sizing: border-box;
     }

     #banner, #banner img {
         width:100%;
	 text-align: center;
	 
     }

     
     #texto {
	 margin-top:-75px;
	 padding:150px 50px 50px 50px ;
	 color:#fff;
         background-color: #89a117;
         
     }

     #consulta {
	 
	 display:inline-block;
	 
     }
     
     
     p {
	 font-size:0.8em;
     }


     #publicaciones {
         padding-top:2px;
         padding-bottom:2px;
         background-color:#D9E5BA;
	 margin-top:50px;
     }
     #publicaciones {
	 padding:10px;
     }
     #publicaciones .titulo_seccion {
	 padding: 5px 0;
	 font-weight:bold;
         border-bottom: 1px solid #ECF5DF;
         color: #9DB545;
         text-decoration: none;
         display: block;
	 text-transform:uppercase;
     }
     .publicacion {
         padding:15px;
	 margin: 0px;
         background-color: #D9E5BA;
         border-top: 1px solid #9DB545;
         border-bottom: 1px solid #ECF5DF;
     }
     .publicacion a .titulo h6,
     .publicacion a .titulo {
         color:#4D5A27;
         text-transform:uppercase;
     }
     
     .publicacion a {
	 color:#000;
     }

     .publicacion .imagen img {
	 box-shadow: 3px 3px 5px #333;
     }



     .tituloimagen h3{
     }

     .tituloimagen .titulo {
	 width:70%;
	 float:left;
	 font-size:16px;
     }
     .tituloimagen .imagen {
	 width: 30%;
	 float: left;
     }

     #ver_mas {
	 width:33%;
	 margin-left:67%;
	 right:0;
	 text-align: center;
	 background-color: #54641c;
	 color:#fff;
	 font-size:13px;
	 padding:25px;
         border-radius:0 0 15px 15px;
     }


     .rounded {
	 
     }


     .even_light {
         background-color: #6b8316;
     }

     .even_dark {
         background-color: #7e9625;
     }

     .odd_light {
         background-color: #93ab24;
     }

     .odd_dark {
         background-color: #89a117;
     }







     #tabla_datos {
	 padding-top:150px;
	 padding:60px 20px;
     }

     #tabla_datos h3 {
         text-shadow: 2px 2px 3px #93aa55;
     }

     #tabla_datos tr td,
     #tabla_datos tr td a
     {
	 color:#eee;
     }


     #suma td {
         background-color:#eaebec !important;
     }
     #promedio td {
	 background-color:#dadbdc !important;;
     }
     #suma td ,
     #promedio td {
         color:#444 !important;
         font-weight:bold;;
     }


     #tabla_datos tr a {
	 text-decoration: underline;
     }

     
     #tabla_datos tr.disabled td,
     #tabla_datos tr.disabled a {
         color:#888 !important:
     }

     #tabla_datos tr:nth-child(odd) td:nth-child(odd) {
         background-color:#9fab73;
     }
     #tabla_datos tr:nth-child(odd) td:nth-child(even) {
         background-color:#98a860;
     }
     #tabla_datos tr:nth-child(even) td:nth-child(odd) {
         background-color:#a8b27a;
     }
     #tabla_datos tr:nth-child(even) td:nth-child(even) {
         background-color:#a5b16b;
     }

     
     #tabla_datos tr:nth-child(odd).disabled td:nth-child(odd) {
         background-color:#555;
     }
     #tabla_datos tr:nth-child(odd).disabled td:nth-child(even) {
         background-color:#666;
     }
     #tabla_datos tr:nth-child(even).disabled td:nth-child(odd) {
         background-color:#5a5a5a;
     }
     #tabla_datos tr:nth-child(even).disabled td:nth-child(even) {
         background-color:#6a6a6a;
     }


     .hidden {
	 display:none;
     }


     #menusitio {
         display: block;
         float: left;
         height: 25px;
         line-height: 25px;
         color: #3F6721;
         text-decoration: none;
         font-size: 13px;
         cursor: pointer;
         text-transform: uppercase;
     }



     .filterselect select {
	 width:60%;

	 float:left;
     }
     .filterselect a .boton {
	 float:left;
	 color:#333;
	 border:1px solid #aaa;
	 border-radius:2px;
	 padding:0 3px;
         width:16px;
         height:19px;
	 background-color:#eee;
	 
     }

     .rangos {
	 float:left;
     }


     .dataTables_length select {
	 margin-top:15px;
         width: 50px !important;
     }

     .dataTables_filter input {
         width: 300px !important;
         margin-bottom:25px;
     }