/*
  Theme Name: ccmss
  Template: Foundation
  */
     body {
       font-family:Arial;
     }
     ul li:first-child {
       /*width:1.5%;*/
     }
     li {
       display:inline-block;
       width:6.5%;
       float:left;
       font-size:10px;
       height:40px;
       overflow:hidden;
     }
     ul {
       margin:10px 0;
       padding:10px 0;
       clear:both;
       width:100%;
       min-height:30px;
     }

     .titulos {
       background-color:#333;
       color:#fff;
       font-weight:bold;
     }
     .non, .non li {
       background-color:#a0a3fa;
     }
     .par, .par li {
       background-color:#aaa;
     }

     #resultados {
       height:400px;

       overflow-y:scroll;
       overflow-x:visible;
     }

     #sql_texto {
       margin:30px 0;
       padding:20px;

       border: 3px solid #a0a3fa;
     }
     #paginacion {
       width:100%;
       height:50px;
       overflow:hidden;
     }
     #paginacion li { width:15px; margin:5px; padding:2px; font-size: 12px; overflow:visible; text-align: center; }
     #paginacion li a { text-decoration:none ; color:#666;}
     #paginacion li.actual a { color:#000; font-weight: bold;}

     #paginacion .primera { margin-right:15px;}
     #paginacion .ultima { margin-left:15px;}
