body {
    height:100%;

    font-size:12px;
}

table {
    max-height:60%;
    overflow-y:auto;
}



#table_holder table tbody {
    max-height:200px;
    overflow-y:auto;
}

/*
      td, th select {
    max-width:100px;
    width:100px;
    
    }*/



.boton {

    padding:3px;
    border:1px solid #000;
    border-radius:1px 3px;
}


.filterselect .btnrmvfilter:hover, 
.filterselect .btnrmvfilter {
    pointer-events: none;
    cursor: default;
    color:#aaa;
    background-color:#777;
}


.filterselect .btnrmvfilter.enabled {
    pointer-events: auto;
    cursor: pointer;
    color:#000 ;
    background-color:#fff;
}

.filterselect > div,
.filterselect > a > div {
    float:left;
}
.filterselect .select { width:70%; }
.filterselect select { width:80%; height:28px; }
.filterselect .boton { width:10%;}


.boton {
    text-decoration:none;
}

.boton:hover ,
.boton.enabled:hover ,

.boton:hover {
    background-color:#444;
    color:#fff;
}


.hidden {
    display:none;
}





#pie_tabla {
    width:100%;
    clear:both;
    
}


#operaciones {
    margin-top:35px;
}


#operaciones .even td {
    background-color:#D3D6FF !important;
}
#operaciones .odd td {
    background-color:#f3f6fF !important;
}
#operaciones .disabled.even td {
    background-color:#a3a6aF !important;
    color:#c3c6cF !important;
}
#operaciones .disabled.odd td {
    background-color:#b3b6bF !important;
    color:#c3c6cF !important;
}



#operaciones #suma,
#operaciones #suma td,
#operaciones #promedio td,
#operaciones #promedio {
    background-color:#fff;
    font-size:18px;
    line-height:35px;
    margin:30px 0 !important;
}
